<ion-view hide-nav-bar="true" view-title="草堂上医">
    

    <style>
       .shouquan-logo{
       		width: 30%;
		    margin: 63px auto auto auto;
       }
      .sqdl-line1{
      		width: 80%;
    		margin: 63px auto auto auto;
    		font-size: 16px;
    		color: #666;
      }
      .sqdl-line2{
      		width: 80%;
    		margin: 10px auto auto auto;
    		font-size: 16px;
    		color: #666;
      }
      .sqdl-input{
      		width: 100%;
    		margin: 10px auto;
      }
      .sqdl-bottom{
      		text-align: center;
      }
      .sqdl-sub{
      		width: 80%;
		    height: 60px;
		    background: #00B6ED;
		    color: white;
		    border-style: inherit;
		    border-radius: 5px;
		    margin: 70px auto auto auto;
		    font-size: 16px;
      }
      #sqdl-imgstyle{
      		position: fixed;
      		margin-top:80px;
		    bottom: 0px; 
		    width: 100%;
      }
      
    </style>

    <ion-content id="sqdl">
	    <div  style="overflow: hidden;">
	    	<div class="shouquan-logo">
	       		<img class="imgstyle" alt="logo" src="img/logo.png">
	       		<p style="text-align:center;font-size: 20px;margin-top: 10px;">草堂上医</p>
	       </div>
	    </div>
       
       <form name="form" novalidate>
	       <div style="display: none;">
	       	<input type="text" class="hide" name="openid" value="{{openid}}">
	       	<input type="text" class="hide" name="shouquanma" value="{{inputCode}}">
	       </div>
	       
	       <div>
	       		<p class="sqdl-line1">请输入产品授权码</p>
	       		<p class="sqdl-line2"><input id="sqdl-code" onKeyUp="value=value.replace(/[\W]/g,'')"
				 maxlength="8" class="sqdl-input" type="text" name="shouQuanCode" ng-model="shouQuanCode"
	       		 style="border: 1px solid #999;border-radius: 5px;height: 46px;text-indent: 10px;font-size:16px;"/></p>
	       </div>
	       <div class="sqdl-bottom">
	       		<input class="sqdl-sub" type="submit" value="提交" ng-click="submit()" />
	       		
	       </div>
	       
       </form>  
       <div class="sqdl-botwave">
       		<img id="sqdl-imgstyle" alt="" src="img/bot_wave.png">
       </div>    
    </ion-content>
</ion-view>