<ion-view hide-nav-bar="isIos" view-title="我要吐槽" >
	<style type="text/css">
	.guanyuiconfooter{
	background-size: 0;
	}
	.guanyuneirong{
	padding: 20px;
	}
	.guanyufootdiv{
	height:auto;
	background: #b2b2b2;
	opacity: 0.5;
	text-align: center;
	position: absolute; 
	display: block;
	}
	.guanyuh4{
	text-align: center;
	}
	.img-Icon{
	width: 20%;
	box-sizing:border-box;
	border: 1px solid #ddd;
	margin: 2%;
	float:left;
	height: 67.5px;
      }
      .popup-body span{
      text-align: -webkit-center;
    width: 100%;
    margin: 7px auto;
    display: inline-block;
    }
    .popup-head{
    background-color: #18b4ed;}
    .popup-head h3{
    color: #fff;
    font-size: 16px;
    }
    .tucaoaddimg{
    text-align: center;
    width: 20%;
    float: left;
    background: #ddd;
    margin:2%;
    height: auto;
    vertical-align: -webkit-baseline-middle;
    overflow: hidden;
    padding: 10.5px 10.5px 7px 10.5px;
    }
    .margindiv{
    margin-top: 47px;
    }
    /**上一页下一页样式*/
    .shangyiye{
    font-size: 5em;
    text-align: center;
    color: white;
    }
    /**预览图片div*/
    .tcyulanimg{
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    margin-top: -10px;
    }
    /**预览删除**/
    .yulandelete{
    font-size: 2em;
    color: white;
    padding: 5px;
    position: fixed;
    right: 10px;
    }
    /**预览返回**/
    .yulanback{
    font-size: 2em;
    color: white;
    padding: 5px;
    margin: 10px;
    }
	</style>
	<ion-nav-buttons side="left">
        <div style="text-align: center;height: 100%">
            <button class="button button-clear icon ion-chevron-left" ng-click="goBack()">
            </button>
        </div>
    </ion-nav-buttons>
	<ion-content style="background: #eff0f4;">
		<!-- <img class="imgstyle" src="img/guanyu.jpg"> -->
		<form name='myform' style="margin-top: 5px;">
		<div style="width: 100%;background-color: white;">
			<textarea  type="text" ng-change= "textarCHange(textare)" ng-model='textare' placeholder="页面异常报错，bug反馈，功能优化建议，请在此提交。" style="width: 100%;height: 200px;padding: 8px 10px;resize: none;" id="textare"></textarea>
			<label class="item item-input" style="color: red;    border-top: 0px;" ng-show="myform.textare.$dirty && myform.textare.$invalid || textare.length < 10">
            <span style="font-size: 0.8em;width: 95%;text-align: right;">不能少于10个字</span>
        </label>
        <label class="item item-input" style="color: red;border-top: 0px;" ng-show="myform.textare.$dirty && myform.textare.$invalid || textare.length > 500">
           <span style="font-size: 0.8em;width: 95%;text-align: right;">不能超过500个字</span>
        </label>
			<div style="padding: 10px;overflow:hidden;background: white;">
				<!-- <div> -->
					<!-- <img ng-if="listimg.length>0" ng-repeat="item in listimg" alt="" src="item" > -->
					<img  class="img-Icon" ng-if="listimg.length>0" ng-repeat="item in listimg" alt="" ng-src="{{item}}" ng-click="showimg($index)">
				<!-- </div> -->
				
				<div class="img-cover tucaoaddimg"  ngf-pattern="'image/*'" ngf-multiple="true" ngf-select="upload($files)" ng-show="list.length<10">
				
					<span class="icon ion-android-add" style="font-size: 45px;text-align: center;color: #a2a2a2;display:inline-block;overflow:hidden;"></span>
					
					<!-- <span style="margin-left: -40px;">添加图片</span> -->
				</div>
			</div>
			<label class="item item-input" style="color: red;border-top: 0px;" ng-show="listimg.length>9">
           <span style="font-size: 0.8em;width: 95%;text-align: right;">最多上传10张图片</span>
        </label>
			<!-- <div class="tc fl file-img" style="background-image: url('{{avator}}')"></div> -->
			
		</div>

		
		<label class="item col-md-12 item-input" style="position: initial;" ng-model="phonenum">
            <span class="icon-lxfs" style="font-size: 1.5em;color:#18b4ed;display: table;padding: 7px 10px 7px 0;max-width: 200px;"></span>
            <!-- ng-blur='userid.length == 0 ? showPhone = true : ""' required  ng-pattern="/^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/"  -->
            <input id="inputnum" type="number" placeholder="请在此处输入您的手机号" style="font-size: 13px;line-height: 30px;"   ng-model="phnoenum" ng-change="phoneyz(phnoenum)">
        </label>
         	<p class="fa fa-check input_result text-success"  ng-if="myform.userid.$valid"></p>
         <label class="item item-input" style="color: red;border-top: 0px;" ng-show="phonetishi">
            <span style="font-size: 0.8em;width: 95%;text-align: right;">请输入正确的手机号</span>
        </label>
        <div>
       	<input type='submit' ng-disabled="phonetishi||(myform.textare.$dirty && myform.textare.$invalid || textare.length < 10 || isClick)" ng-click="tijiaoclick()" class="button button-block button-energized button-space" style="background-color: #18b4ed;margin-top: 20px;width: 90%;height: 40px;min-height: 40px;line-height: 38px;" value='提交'/>
       </div>
       </form>
       
       <!-- <div class="tc fl file-img" style="background-image: url('{{avator}}')"> -->
       	<!-- <img alt="" src="{{avator}}"> -->
       <!-- </div> -->
       <div style="text-align: center;width: 100%;margin-top: 70px;" ng-show="sessts">提交成功，谢谢您的反馈。</div>
    </ion-content>
    <div class="backdrop visible active" ng-if="isshowimg" ng-class="{true:'',false:'margindiv'}[isIos]" style="background: #000;">
    	<div style="margin-top: -1px;">
    		<span class="icon ion-arrow-left-c yulanback hide"  ng-click="quxiao()"></span>
    		<i class="icon ion-trash-a yulandelete" ng-click="deleteimg()"></i>
    	</div>
    	<div class="tcyulanimg">
	    	<div style="width: 10%;text-align: center;display: none">
	    	<i ng-show="indeximg!=0" class="icon ion-ios-arrow-back shangyiye"  ng-click="shangyiye()"></i>
	    	</div>
	    	<img ng-if="list.length>0" alt="" ng-src="{{listimg[indeximg]}}" style="width: 70%;" on-swipe-right="shangyiye()" on-swipe-left="xiayiye()" ng-click="quxiao()">
	    	<div style="width: 10%;text-align: center;display: none">
	    	<i ng-show="indeximg!=list.length-1" class="icon ion-ios-arrow-forward shangyiye"  ng-click="xiayiye()"></i>
	    	</div>
    	</div>
    </div>
    
    <!-- <ion-footer-bar class="guanyuiconfooter hide">
    <div style="text-align: center;width: 100%;bottom: 10px;">提交成功，谢谢您的反馈。</div>
    </ion-footer-bar> -->
   <!--  <ion-footer-bar class="guanyuiconfooter">
        <div class="bar bar-footer guanyufootdiv">
			<i class="icon ion-android-home" style="font-size: 35px;color: #18b4ed"></i><br>
			<span style="color: black;">草堂上医</span>
		</div>
    </ion-footer-bar> -->
</ion-view>